<div class="hero-container">
    <div class="book-now-container">
        <div fxFlex fxLayoutAlign="flex-end">
            <button class="booknowbtn" mat-stroked-button color="primary">
                Book Now
            </button>

        </div>
    </div>
    <div class="header-container" fxLayout="row" fxLayout="column"  fxLayoutAlign="center center">
            <h2 class="mat-display-1">Luxury Beach Front Resort</h2>
            <h1 class="mat-display-4">Natai Beach Resort & Spa</h1>     
    </div>
    <div class="thailand">
        <h3>Thailand</h3>
    </div>
</div>
<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h2 class="mat-subheading-2">Luxury beach front Resort</h2>
        </div>
        <div>
            <h3 class="mat-subheading-3">Asia's Tropical Paradise</h3>
        </div>
        <div>
            <p fxFlex= "70" fxFlexOffset="15" class="mat-body-1">Lorem Ipsum is simply dummy text of the 
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                 a type specimen book. It has survived not only five centuries, but also the leap into electronic 
                 typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of 
                 Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
                 like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>

    <div class="rooms-home-display" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
        <mat-card class="room-suites" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Room & Suites</h2>
            </mat-card-header>
            <mat-card-action fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">Explore</button>
            </mat-card-action>
        </mat-card>

        <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Room & Suites</h2>
            </mat-card-header>
            <mat-card-action fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">Explore</button>
            </mat-card-action>
        </mat-card>
    </div>
</section>


<div class="footer-container">

    <nav mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center" color="primary">
        <span class="toolbar-flex"></span>
           <mat-icon>email</mat-icon>
            <a href="Jsor.khadka@gmail.com">Email</a>
            <mat-icon>copyright</mat-icon>
            <a href="https://www.linkedin.com/in/jayshwor-khadka-032654126/">Linkedin</a>
       <span class="toolbar-flex"></span>
    </nav>
</div>
